{% extends "./ext/base.njk" %}

{% block content %}

	{% include "../includes/header/header.njk" %}

	<main>
	{% block pageContent %}

		<h1>{{ title }}</h1>

		{{ content | safe }}

	{% endblock %}
	</main>

	{% include "../includes/footer/footer.njk" %}

{% endblock %}