{% if pagination.href.previous or pagination.href.next %}
	<div class="pagenav">
		{% if pagination.href.previous %}
			<a href="{{ pagination.href.previous }}">previous</a>
		{% endif %}

		{# {{ pagination.pageNumber | dump | safe }} #}
		<ul class="pagenav-list">
			{% for pageLink in pagination.hrefs %}
				{% if page.url === pageLink %}
					<li aria-current="page"><span>{{ loop.index }}</span></li>
				{% else %}
					<li><a href="{{ pageLink }}">{{ loop.index }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		{% if pagination.href.next %}
			<p><a href="{{ pagination.href.next }}">next</a></p>
		{% endif %}
	</div>
{% endif %}
