{% set siteTitle = "11ty demo" %}
{# {% set navBreadcrumb = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | eleventyNavigationToHtml() %} #}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}{% if siteTitle and title %} | {% endif %}{{ siteTitle }}</title>
		<meta name="description" content="{{ description }}">
	</head>
	<body>

		{% block content %}{% endblock %}

		<script src="scripts.js"></script>
	</body>
</html>
